#bg {
    height: 100%;
    width: 100%;
    background-color: rgb(2, 211,248);
    clip-path: polygon(53% 0, 100% 0, 100% 50%, 10% 100%, 0 100%,0 21%);
    background: radial-gradient(
        circle,
        rgba(25,184,167,1) 0%,
        rgba(55,80,219,1) 100%
    );
    position: absolute;
    z-index: -1;
    text-align: center;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}